# Watsonx AI Credentials
WATSONX_URL=https://eu-de.ml.cloud.ibm.com
WATSONX_API_KEY=your_api_key_here
WATSONX_PROJECT_ID=your_project_id_here

# MS SQL Server Database
MSSQL_SERVER=localhost
MSSQL_DATABASE=nk_proteins
MSSQL_USER=sa
MSSQL_PASS=your_password_here
MSSQL_PORT=1433

# Gateway Config
PORT=8000
